@keyframes modal-zoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-modal-zoom {
  animation: modal-zoom 0.3s ease-out forwards;
}